@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

:root {
    --borderRadius: 8px;
    --blue: #2ED9FF;

    --heroBackground: #060811;
    --headerBackground: #05060B;
    --headerAccent: #717F9E;
}

.bg-main {
    background-color: var(--headerBackground);
}

.header-text {
    color: var(--headerAccent);
}
.header-text-focus {
    color: #9196a7;
}
