.hero {
    background: url(../../../images/gradient.png) center / 100% 100%, url(../../../images/notes.png) top center / cover;
    background-color: var(--heroBackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.hero header {
    margin-bottom: 10px;
}

.hero .title {
    font-family: 'Red Hat Display';
    font-weight: 900;
    font-size: 3.75em;
    line-height: 1em;
    text-transform: uppercase;
    
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .buttons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 15px;
}

.hero .video {
    position: relative;
    aspect-ratio: 16/9;
    max-width: 960px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: var(--borderRadius);
    background: black;
    box-shadow: 0px 25px 100px 0px rgba(0, 0, 0, 0.75);
}

.hero .video .gem[data-color="blue"],
.hero .video .gem[data-color="green"] {
    position: absolute;
}

.hero .video .gem[data-color="green"] {
    background: url(../../../images/green-gem.png);
    aspect-ratio: 1;
    height: 227px;
    top: -85px;
    left: -85px;
}

.hero .video .gem[data-color="blue"] {
    background: url(../../../images/blue-gem.png);
    aspect-ratio: 1;
    height: 149px;
    bottom: -35px;
    right: -85px;
}